html,
body,
#app {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* ===== 全局滚动条 ===== */
* {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: rgba(125, 125, 126, 0.35) transparent;
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(164, 164, 165, 0.35);
  border-radius: 3px;
}

/* hover 时稍微明显一点 */
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(112, 112, 112, 0.55);
}
